.nav {
  ul {
    list-style: none;
    display: grid;
    align-content: start;
    gap: 20px;
  }
}

.item {
  color: #00b2ff;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  opacity: 0.65;
  font-size: 20px;

  &:hover {
    text-decoration: underline;
  }
}
