.friend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;

  .friendAvatar {
    position: relative;
    width: 60px;
    height: 60px;
    flex: 0 0 60px;
    border-radius: 50%;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .friendName {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease 0s;
  }

  &:hover {
    background-color: #1e2842;
    text-decoration: none;

    .friendName {
      color: #00b2ff;
    }
  }
}