.dialog {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcee9e;
  border-radius: 5px;
  color: #006C51;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: #fae86b;
  }

  &.active {
    background-color: #f8db3b;
    color: red;
  }
}


