.myPosts {

}

.postsItems {
    display: grid;
    gap: 20px;
}

.title {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
}

.textArea {
    width: 50%;
    height: 50px;
    margin-bottom: 20px;
    padding: 7px;
}

.postsBtn {
    min-width: 100px;
    display: flex;
    background-color: rgba(21, 181, 250, 0.58);
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}