.button {
  min-width: 100px;
  display: flex;
  background: linear-gradient(94.6deg, #ff1b2d 2.36%, #df006b 98.71%);
  justify-content: center;
  padding: 7px 30px;
  border-radius: 5px;
  justify-self: start;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;

  &:hover {
    background: linear-gradient(94.6deg, #df006b 2.36%, rgb(255, 27, 45) 98.71%);
  }
}