.myPosts {
  display: grid;
  gap: 20px;

  .title {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
  }

  .textArea {
    width: 50%;
    height: 100px;
    padding: 7px;
    border: 2px solid #294054;
    background-color: #151d34;
    color: #ffffff;
    font-size: 16px;
    border-radius: 10px;

    &:focus {
      border: 2px solid #35526e;
    }
  }

  .postsBtn {
    min-width: 150px;
    display: flex;
    background: linear-gradient(94.6deg, #ff1b2d 2.36%, #df006b 98.71%);
    justify-content: center;
    padding: 7px 10px;
    border-radius: 5px;
    justify-self: start;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease 0s;

    &:hover {
      background: linear-gradient(94.6deg, #df006b 2.36%, rgb(255, 27, 45) 98.71%);
    }
  }

  .postsItems {
    display: grid;
    gap: 20px;
  }
}


